@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */

  --primary: 217 91% 68%;
  --primary-foreground: 100 100% 100%;  
} 

* {
  box-sizing: border-box;
}


html, body, #__next {
  font-family: 'Inter', sans-serif;
}


